/* Navbar.module.css */
.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px; /* Riduci il valore del padding */
  background-color: #00000000;
  color: #fff;
  z-index: 1000;
}

/* Altri stili rimasti invariati... */


.navLeft {
  display: flex;
  align-items: center;
}

.homeLink {
  margin-right: 20px;
}

/* Navbar.module.css */
.burgerIcon {
  cursor: pointer;
  padding: 10px; /* Riduci il valore del padding per sollevare l'icona più in alto */
  display: flex;
  flex-direction: column;
}

/* Altri stili rimasti invariati... */

.burgerLine {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
}
/* Navbar.module.css */
.navMiddle {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 4000px;
  background-color: #0000004f;
  padding: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navMiddle.mobileNavShow {
  display: flex !important;
  opacity: 1;
}

.link {
  text-decoration: none;
  color: #fdfdfd;
  font-size: 26px;
}



.navRight {
  display: flex;
  align-items: center;
}

/* Navbar.module.css */
.navConnect {
  position: absolute;
  top: 10px; /* Regola il valore in base alla posizione desiderata in alto */
  right: 20px;
}

/* Altri stili rimasti invariati... */


.mobileNavShow {
  display: flex !important;
}
/* Navbar.module.css */
