.nftContainerCard {
  background-color: #ffffff; /* Sfondo bianco */
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s ease; /* Aggiungi una transizione per un effetto più fluido */
  max-width: 140px; /* Imposta la larghezza massima */
  max-height: 200px; /* Imposta l'altezza massima */
  overflow: hidden; /* Nasconde eventuali contenuti che superano le dimensioni */
  border: 1px solid #eaeaea; /* Sottile bordo grigio */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra per effetto 3D */
  background-image: url('/images/2o2.png'); /* Aggiungi la texture d'immagine */
  background-size: cover; /* Imposta la dimensione dell'immagine per coprire l'intera carta */
}

.nftContainerCard:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta l'ombra al passaggio del mouse */
}

.nftCardName {
  margin: 0;
  font-size: 1rem; /* Riduci la dimensione del font */
  font-weight: 600;
  text-align: left;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: rgb(249, 248, 248);
  text-shadow: 1px 1px 2px rgba(131, 0, 212, 0.2); /* Aggiungi un'ombra al nome per enfatizzarlo */
}

/* Contenitore del carosello */
.nftCarouselContainer {
  width: 100%;
  overflow: hidden;
}

/* Carosello */
.nftCarousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-bottom: 6px; /* Aggiunge spazio inferiore per la visibilità del punto di scorrimento */
}

/* Elemento del carosello */
.nftCarousel .nftContainerCard {
  flex: 0 0 auto;
  margin-right: 10px; /* Aggiunge spazio tra gli elementi del carosello */
}

/* Barra di scorrimento */
.nftCarousel::-webkit-scrollbar {
  width: 6px; /* Larghezza della barra di scorrimento */
}

.nftCarousel::-webkit-scrollbar-track {
  background: #f1f1f13d; /* Colore di sfondo della barra di scorrimento */
}

.nftCarousel::-webkit-scrollbar-thumb {
  background: #a200e2; /* Colore della maniglia della barra di scorrimento */
  border-radius: 5px; /* Bordo arrotondato della maniglia */
}

.nftCarousel::-webkit-scrollbar-thumb:hover {
  background: #ac04e9; /* Cambia colore al passaggio del mouse sopra la maniglia */
}
