html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}


body {
  color: #fefafa;
  background: #0c0c0c;
  --color-primary: #fada3f;
  --color-secondary: #7b0595;
  --color-tertiary: #6f029e;
  --color-quaternary: #9b4dff;
  --card-background: #470466;
  --highlighted-background: #080909;
  font-weight: 400;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px; /* Altezza della linea */
  background: linear-gradient(to right, transparent, var(--color-secondary), transparent);
  animation: moveLine 4s linear infinite; /* Regola la durata e il tipo di animazione */
}

@keyframes moveLine {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Aggiungi una regola media query per dispositivi mobili */
@media only screen and (max-width: 768px) {
  body::before {
    display: none; /* Nascondi la linea animata su dispositivi mobili */
  }

  body {
    font-size: 16px; /* Riduci la dimensione del carattere principale su dispositivi mobili */
  }

  h1 {
    font-size: 1.5rem; /* Riduci la dimensione del carattere per gli elementi h1 su dispositivi mobili */
  }

  h3 {
    font-size: 18px; /* Riduci la dimensione del carattere per gli elementi h3 su dispositivi mobili */
    line-height: 24px; /* Aggiusta l'altezza della linea per gli elementi h3 su dispositivi mobili */
  }
}





iframe {
  width: 100%;
  height: calc(100% - 20px); /* Altezza massima - 20px per il bordo */
  border: 10px solid #ccc; /* Aggiungi un bordo di 10px */
}
