.container {
  min-height: 99vh;
  min-width: 96vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  contain: paint;
  align-items: center;
  align-self: center;
  text-align: center;
  max-width: 100vw;
}

.container2{
  min-height: 99vh;
  min-width: 96vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  contain: paint;
  align-items: center;
  align-self: center;
  text-align: center;
  max-width: 100vw;
}

.lineThrough {
  text-decoration: line-through; /* Aggiungi una linea attraverso la lettera 'T' */
}
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Posiziona il video dietro il contenuto */
}




/* Aggiungi questi stili CSS nel tuo file Home.module.css */

.iconsSection {
  display: flex;
  justify-content: space-around; /* Distribuisce le icone uniformemente lungo l'asse orizzontale */
  align-items: center; /* Allinea le icone verticalmente al centro */
  margin-top: 30px; /* Aggiungi spazio sopra le icone */
}

.iconContainer {
  text-align: center;
}

.iconText {
  margin-top: 10px; /* Aggiungi spazio sopra il testo dell'icona */
  color: #fefafa; /* Colore del testo */
  font-size: 14px; /* Dimensione del testo */
}





.content {
  max-width: 1204px;
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

.hero {
  padding-bottom: 128px;
}

.heroBackground {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
  min-width: 100vw;
  max-width: 100vw;
  height: clamp(1000px, calc(59.6vw + 776px), 1540px);
  pointer-events: none;
}

.heroBackgroundInner {
  position: absolute;
  top: -352px;
  left: 50%;
  width: clamp(1000px, calc(59.6vw + 776px), 1540px);
  aspect-ratio: 1/1;
  transform: translateX(-50%);
}

.gradient {
  height: 100%;
  width: 100%;
  opacity: 0.76;
}

.heroAssetFrame {
  display: flex;
  justify-content: center;
  margin: 24px auto 0;
  padding: 2em;
  overflow: hidden;
}

.heroAsset {
  max-width: 100vw;
  margin-bottom: 16px;
}

.heroBodyContainer {
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

.heroBody {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroTitle {
  margin-top: clamp(-30px, calc(-7vw + 57px), 5px);
  margin-bottom: 20px;
  color: #fff;
  font-size: Min(10vw, 70px); /* Modifica il valore della dimensione del testo qui */
  font-style: 'Pixel Operator', monospace;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-align: center;
  overflow: visible;
  letter-spacing: -0.05em;
}


.heroTitleGradient {
  padding-right: 12px;
  font-weight: 800;
}

.heroSubtitle {
  max-width: 640px;
  margin: 0 0 40px;
  color: #fff;
  font-family: 'Pixel Operator', monospace; /* Aggiungi il font Pixel Operator */
  font-size: min(3.8vw, 20px);
  letter-spacing: 0.3px;
  line-height: 140%;
  text-align: center;
  transform: translateY(5px);
}

.heroCtaContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}






/* YourComponent.module.css */
.imageStrip {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  gap: 80px; /* Raddoppia nuovamente lo spazio tra le immagini */
  background-color: rgba(164, 2, 252, 0.11);
  padding: 10px;
  width: 100%;
}

.imageItem {
  flex: 0 0 auto;
  animation: scrollAnimation 5s linear infinite;
}

.imageItem img {
  width: 100%;
  height: auto;
}





/* Media Query per dispositivi di larghezza massima di 640px */
@media (max-width: 640px) {
  .heroTitle {
    margin-top: -48px;
    font-size: 38px;
  }

  .heroCtaContainer {
    flex-direction: column;
    gap: 0px;
  }

  .heroAsset {
    max-height: 270px;
  }
}

/* Media Query per dispositivi con larghezza compresa tra 640px e 960px */
@media (min-width: 640px) and (max-width: 960px) {
  .heroTitle {
    margin-top: -32px;
    font-size: 60px;
  }

  .heroAsset {
    max-height: 540px;
  }
}








@keyframes scrollAnimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}






.gifImage {
  max-width: 100%;
  height: auto;
}

.timeGraph {
  width: 100%;
  max-width: 600px; /* Adjust the width as needed */
  margin: 0 auto;
}


















  
.title a {
  color: #f213a4;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.connect {
  margin-bottom: 2rem;
  width: 230px;
}

.description {
  margin-top: 3rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.card {
  background-color: #1b2129;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  color: #0ea5e9;
  border-color: #0ea5e9;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.card,
.footer {
  border-color: #222;
}
.code {
  background: #111;
}
.logo img {
  filter: invert(1);
}

.tokenButton:hover {
  cursor: pointer;
}





































































.codeButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 560px;
  max-width: 100%;
  height: 48px;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 8px;
  transition: background-color 0.2s;
}

/* Place a $  before the code button text */
.codeButton::before {
  content: "$ ";
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-right: 8px;
}

.codeButton:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.codeButtonCopy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  background-color: transparent;
  border: none;
  opacity: 0.9;
}

.heroCta {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 12px 40px;
  border: 3px solid hsla(0, 0%, 100%, 0.1);
  margin: 16px 0;
  background-clip: padding-box;
  background-color: hsla(0, 0%, 100%, 0.9);
  border-radius: 8px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  transition: opacity 0.2s;
  width: 280px;
}

.heroCta::before {
  position: absolute;
  z-index: -1;
  top: 5px;
  right: 5px;
  bottom: 0;
  left: 5px;
  background: conic-gradient(
    from 147.14deg at 50% 50%,
    var(--color-primary) -55.68deg,
    var(--color-secondary) 113.23deg,
    var(--color-tertiary) 195deg,
    var(--color-quaternary) 304.32deg,
    var(--color-primary) 473.23deg
  );
  border-radius: 6px;
  content: "";
  filter: blur(20px);
  opacity: 0.6;
}

.heroCta:hover {
  cursor: pointer;
  opacity: 0.7;
}

.secondaryCta {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  transition: background-color 0.2s;
  width: 280px;
  border: 1px solid hsla(0, 0%, 100%, 0.25);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 0.15s ease-in-out;
}

.secondaryCta:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.tabs {
  margin-top: 2em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.tab {
  font-weight: 600;
  cursor: pointer;
  padding: 0.5em 0.75em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: transparent;
  transition: all 0.15s ease-in-out;
  width: 20%;
  height: 100%;
  min-height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.activeTab {
  background-color: rgba(255, 255, 255, 0.1);
}

.tab:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.tabContent {
  transition: all 0.5s ease-in-out;
}

.transition {
  opacity: 0;
  transform: scale(0.9);
}

.link {
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
}

.code {
  background-color: #0d0d18;
  color: white;
  padding: 8px 4px;
  border-radius: 8px;
}

.list {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.5;
}

.list li {
  margin-bottom: 1em;
}






/* Common styles for screens smaller than 960px */
@media (max-width: 960px) {
  .statsContainer {
    grid-template-columns: 1fr; /* Single column layout for stat boxes */
    gap: 15px; /* Adjust spacing between stat boxes */
    margin-top: 15px; /* Adjust top margin for stat boxes */
  }

  .circleContainer {
    width: 100%; /* Full width for circle container */
    height: auto; /* Auto height for responsiveness */
  }

  .circleItem {
    position: relative; /* Adjust position to be relative */
    top: 0; /* Reset top position */
    left: 0; /* Reset left position */
  }

  .heroTitle {
    margin-top: -32px; /* Adjust margin for hero title */
    font-size: 24px; /* Adjust font size for hero title */
  }

  .heroCtaContainer {
    flex-direction: column; /* Stack CTA items vertically */
    gap: 8px; /* Adjust gap between CTA items */
  }

  .heroAsset {
    max-height: 200px; /* Adjust max height for hero asset */
  }

  .container,
  .container2 {
    min-height: 80vh; /* Adjust minimum height for containers */
    min-width: 90vw; /* Adjust minimum width for containers */
  }

  /* Add more common mobile-specific styles as needed */
}

/* Styles for screens smaller than 640px */
@media (max-width: 640px) {
  .statsContainer {
    gap: 10px; /* Further reduce spacing between stat boxes */
    margin-top: 10px; /* Further adjust top margin for stat boxes */
  }

  .heroTitle {
    margin-top: -48px; /* Further adjust margin for hero title */
    font-size: 20px; /* Further adjust font size for hero title */
  }

  .heroCtaContainer {
    gap: 6px; /* Further reduce gap between CTA items */
  }

  .heroAsset {
    max-height: 160px; /* Further adjust max height for hero asset */
  }

  .container,
  .container2 {
    min-height: 70vh; /* Further adjust minimum height for containers */
  }

  /* Add more specific styles for smaller screens if needed */
}

@media only screen and (max-width: 768px) {
  .profileContainer {
    width: 100%; /* Larghezza al 100% su dispositivi mobili */
  }

  .leftColumn {
    width: 100%; /* Larghezza al 100% su dispositivi mobili */
  }

  .rightColumn {
    display: none; /* Nascondi la colonna destra su dispositivi mobili */
  }
}
